table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
.mat-success {
  background-color: #198754;
  color: #fff;
}

th {
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
}

::ng-deep .mat-snack-bar-container{
  color: white !important;
  background-color: green !important;
  border-color: #c3e6cb !important;
}
::ng-deep .mat-simple-snackbar-action {
  color: white;
}

.complete {
  border-left-color: #198754;
  border-left-style: solid;
  border-left-width: thick;
}

.incomplete {
  border-left-color: orange;
  border-left-style: solid;
  border-left-width: thick;
}
